html, body 
{
  height: 100%;
  width: 100%;
}
*
{
	margin: 0;
	padding: 0;
}
section
{
	display: grid;
	width: 100%;
}
#main-contact
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#contact-form
{
	width: 100%;
	max-width: 500px;
	margin: 5px;
	height: 100%;
	border: 1px solid #2080d9;
}
#contact-list
{
	display: none;
	width: 100%;
	max-width: 500px;
	margin: 5px;
	border: 1px solid #2080d9;
}
#contact-list p
{
	text-align: center;
	margin-top: 50%;
}
h1
{
	background-color: #2080d9;
	color: #fff;

}
#general-title
{
	height: 50px;
	padding-top: 15px;
	padding-left: 20px;
}
.section-title
{
	text-align: center;
	height: 40px;
	padding-top: 10px;
}
form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	
}
input, select
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px;
	box-sizing: border-box ;
	
}
textarea
{
	width: 100%;
	height: 100px;
	
}
#photo
{
	height: 100px;
}
#button-form 
{
	display: flex-box;
	flex-direction: row;
	justify-content: space-between;
}
[type="submit"]
{
	background-color: #2080d9;
}
[type="reset"]
{
	background-color: red;
}
select
{
	appearance: #2080d9 ;
}